@{
    ViewBag.Title = "Fast Order";
}
<main class="fo-docs-masthead" id="content" tabindex="-1">
    <div class="container">
        <div class="space-40"></div>
        <span class="fo-docs-booticon fo-docs-booticon-lg fo-docs-booticon-outline">Fo</span>
        <p class="lead">Fast order è il modo più semplice per gestire la tua attivit&agrave;. Potrai velocemente caricare gli ordini di acquisto, gli ordini di vendita e i listini.</p>        
        <p class="version">Versione v1.0.0</p>        
    </div>
</main>

