@{
    ViewBag.Title = "Fast Order";
}
<main class="fo-docs-masthead" id="content" tabindex="-1">
    <div class="container">
        <span class="fo-docs-booticon fo-docs-booticon-lg fo-docs-booticon-outline">Fo</span>
        <p class="lead">Fast order è il modo più semplice per gestire la tua attivit&agrave;. Potrai velocemente caricare gli ordini di acquisto e di vendita e i listini.</p>        
        <p class="version">Versione v1.0.0</p>        
    </div>
</main>
<div class="fo-docs-start">
    <div class="container">
        <h2 class="fo-docs-start-title">Fai la tua scelta</h2>
        
        <hr class="half-rule">
        <div class="row">
            <div class="col-sm-4">
                <i class="fa fa-credit-card fa-5x"></i>
                <h3><a href="#">Listini</a></h3>
                <p>In questa sezione potrai gestire i tuoi listini di vendita.</p>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-files-o fa-5x"></i>
                <h3><a href="#">Vendita</a></h3>
                <p>Carica velocemnte gli ordini di vendita.</p>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-file-o fa-5x"></i>
                <h3><a href="#">Acquisti</a></h3>
                <p>Gestisci il tuo portafoglio ordini di acquisto.</p>
            </div>
        </div>        
    </div>
</div>
