
@{
    ViewBag.Title = "OrdiniVendita";
}
<div class="container" ng-controller="venditaCtrl">
    <div class="row">
        <div class="col-md-12">
            <h3>{{benvenuto}}</h3>
            <input type="text" ng-model="benvenuto" />
        </div>
    </div>
</div>


