<div ng-show="page_status == 'leggi'">
    <div class="page-toolbar">
        <button class="btn btn-default" ng-click="annulla()"><i class="fa fa-arrow-left"></i> Indietro</button>
    </div>
    <div class="margin-b-10"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h4>Articolo selezionato</h4>
                    <p>
                        Cod <strong>{{selezionato.id_codice_art}}</strong><br />
                        Articolo <strong>{{selezionato.descrizione}}</strong><br />
                        <h3>Prezzo di Vendita {{selezionato | prezzo | number:2}}</h3>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="margin-b-10"></div>
            <div class="panel panel-primary" style="margin-bottom: 0px;padding: 10px 5px 5px 10px;">
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Filtra" ng-model="searchField">
                                    <div class="input-group-addon"><i class="fa fa-filter"></i></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="text-right">
                                <a href="#" ng-click="sortType = 'esercizio'; sortReverse = !sortReverse">
                                    Es
                                    <span ng-show="sortType == 'esercizio' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'esercizio' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'id_documento'; sortReverse = !sortReverse">
                                    Id Doc
                                    <span ng-show="sortType == 'id_documento' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'id_documento' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'rag_soc_fornitore'; sortReverse = !sortReverse">
                                    Fornitore
                                    <span ng-show="sortType == 'rag_soc_fornitore' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'rag_soc_fornitore' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'rag_soc_cliente'; sortReverse = !sortReverse">
                                    Cliente
                                    <span ng-show="sortType == 'rag_soc_cliente' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'rag_soc_cliente' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'tipo_documento'; sortReverse = !sortReverse">
                                    Tipo
                                    <span ng-show="sortType == 'tipo_documento' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'tipo_documento' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'data_documento'; sortReverse = !sortReverse">
                                    Data
                                    <span ng-show="sortType == 'data_documento' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'data_documento' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'protocollo_iva'; sortReverse = !sortReverse">
                                    N. Fatt
                                    <span ng-show="sortType == 'protocollo_iva' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'protocollo_iva' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            @*<th>Tot Doc</th>
                                <th>Imp Doc</th>
                                <th>Iva Doc</th>
                                <th>Nr Doc Mer</th>*@
                            <th class="text-right">Nr Riga</th>
                            <th class="text-right">Qta</th>
                            <th class="text-right">Pr Ven</th>
                            <th>Sconto</th>
                            <th class="text-right">Imp</th>
                            <th class="text-right">Iva</th>
                            <th class="text-right">Tot</th>
                            <th>
                                <a href="#" ng-click="sortType = 'segno'; sortReverse = !sortReverse">
                                    Segno
                                    <span ng-show="sortType == 'segno' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'segno' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in articolo_corrente.lista | orderBy:sortType:sortReverse | filter:searchField">
                            <td class="text-right">{{item.esercizio}}</td>
                            <td>{{item.id_documento}}</td>
                            <td>{{item.rag_soc_fornitore}}</td>
                            <td>{{item.rag_soc_cliente}}</td>
                            <td>{{item.tipo_documento}}</td>
                            <td>{{item.data_documento}}</td>
                            <td>{{item.protocollo_iva}}</td>
                            <td class="text-right">{{item.nr_riga}}</td>
                            <td class="text-right">{{item.quantita}}</td>
                            <td class="text-right">{{item.imponibile / item.quantita | number:2}}</td>
                            <td>{{item.str_sconto}}</td>
                            <td class="text-right">{{item.imponibile | number:2}}</td>
                            <td class="text-right">{{item.imposta | number:2}}</td>
                            <td class="text-right">{{item.totale_riga | number:2}}</td>
                            <td><span ng-class="{'badge badge-danger' : item.segno == '-',  'badge badge-success' : item.segno == '+'}">{{item.segno}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
