<div class="row" ng-show="page_status == 'ricerca'">
    <div class="col-md-2 col-lg-2">
        <h4><i class="fa fa-bars"></i> Menu</h4>
        <ul class="nav nav-stacked nav-pills">
            <li>
                <a class="livello0" ng-click="selezionaCategoria()">Tutti gli articoli</a>
            </li>
            <li class="nav-livello" ng-repeat="item in categorie" ng-class="{'active': item.id_cat_merc == cod_cat_merc_sel}">
                <a class="livello{{item.livello}}"
                   ng-click="selezionaCategoria(item)"
                   ng-class="{ visibile: item.visibile, selezionato: item.id_cat_merc == cod_cat_merc_sel }">
                    <span class="fa fa-caret-right"></span>&nbsp;
                    {{item.descrizione}}
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-10 col-lg-10">
        <h4><i class="fa fa-filter"></i> Filtro - {{filtro}}</h4>
        <div class="input-group">
            <input id="query" capitalize
                   type="text" class="form-control"
                   ng-model="query" placeholder="cerca per codice articolo o descrizione..."
                   ng-on-enter="refresh()" autofocus />
            <span class="input-group-btn">
                <button ng-click="refresh()" type="button" class="btn btn-default"><i class="fa fa-search"></i>&nbsp;Cerca</button>
            </span>
        </div>
        @Html.Partial("~/Views/Shared/_Paginatore.cshtml")
        <h4><i class="fa fa-list-ul"></i> Elenco</h4>
        <table class="table table-hover table-striped" id="table">
            <thead>
                <tr>
                    <th style="width:5%">Art</th>
                    <th style="width:10%">Fornitore</th>
                    <th style="width:10%">Cod Fornitore</th>
                    <th style="width:15%">Cod Ean</th>
                    <th>Descrizione</th>
                    <th>Gia</th>
                    <th>PrAc</th>
                    <th>P.Net</th>
                    <th>Obs</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in records">
                    <td>{{item.id_codice_art}}</td>
                    <td>
                        <select id="current-id-fornitpre" ng-model="item.id_fornitore" class="form-control" disabled="disabled">
                            <option value="">Seleziona...</option>
                            <option ng-repeat="item in selFornitori" value="{{item.id_fornitore}}">{{item.ragione_sociale}}</option>
                        </select>
                    </td>
                    <td><input type="text" ng-model="item.cod_fornitore" class="form-control" /></td>
                    <td><input type="text" ng-model="item.codice_ean" class="form-control" /></td>
                    <td><input type="text" ng-model="item.descrizione" class="form-control" /></td>
                    <td><span class="badge badge-warning">{{item.giacenza | number:2}}</span></td>
                    <td><span class="badge badge-danger">{{item.prezzo_acquisto | number:2}}</span></td>
                    <td>{{item | peso | number:2}} Kg.</td>
                    <td><input type="checkbox" ng-model="item.obosleto" /></td>
                    <td>
                        <button class="btn btn-success btn-xs"
                                ng-click="update(item);">
                            <span class="fa fa-save" />
                        </button>
                        <button class="btn btn-primary btn-xs"
                                ng-click="copy(item);">
                            <span class="fa fa-copy" />
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        @Html.Partial("~/Views/Shared/_Paginatore.cshtml")
    </div> <!--dettaglio-->
</div> <!-- Fine scheda di ricerca -->

