<div class="row" ng-show="page_status == 'ricerca'">
    <div class="col-md-12 col-lg-12">
        <h4><i class="fa fa-filter"></i> Filtro - {{filtro}}</h4>
        <div class="row">
            <div class="col-md-8">
                <div class="input-group">
                    <input id="query" capitalize
                           type="text" class="form-control"
                           ng-model="query" placeholder="cerca..."
                           ng-on-enter="refresh()" autofocus />
                    <span class="input-group-btn">
                        <button ng-click="refresh()" type="button" class="btn btn-default"><i class="fa fa-search"></i>&nbsp;Cerca</button>
                    </span>
                </div>
            </div>
            <div class="col-md-2 data-new">
                <input type="text" class="form-control" id="da-data" placeholder="mm/aaaa" ng-model="filtri.da_data" />
            </div>
            <div class="col-md-2 data-new">
                <input type="text" class="form-control" id="a-data" placeholder="mm/aaaa" ng-model="filtri.a_data" />
            </div>
        </div>
        <h4><i class="fa fa-list-ul"></i> Elenco</h4>
        @Html.Partial("~/Views/Shared/_Paginatore.cshtml")
        <table class="table table-hover table-striped" id="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Rag. Soc</th>
                    <th>Indirizzo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in records">
                    <td>{{item.id_cliente}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.indirizzo}} {{item.cap}} {{item.comune}} {{item.provincia}}</td>
                    <td>
                        <button class="btn  btn-xs"
                                ng-click="leggi(item);">
                            <span class="fa fa-list" />
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        @Html.Partial("~/Views/Shared/_Paginatore.cshtml") <!--Fine paginatore -->
    </div> <!--dettaglio-->
</div> <!-- Fine scheda di ricerca -->
