<div class="row" ng-show="page_status == 'ricerca'">
    <div class="col-md-12 col-lg-12">
        <h4><i class="fa fa-filter"></i> Filtro - {{filtro}}</h4>
        <div class="row">
            <div class="col-md-8">
                <div class="input-group">
                    <input id="query" capitalize
                           type="text" class="form-control"
                           ng-model="query" placeholder="cerca..."
                           ng-on-enter="refresh()" autofocus />
                    <span class="input-group-btn">
                        <button ng-click="refresh()" type="button" class="btn btn-default"><i class="fa fa-search"></i>&nbsp;Cerca</button>
                    </span>
                </div>
            </div>
            <div class="col-md-2 data-new">
                <input type="text" class="form-control" id="da-data" placeholder="mm/aaaa" ng-model="filtri.da_data" />
            </div>
            <div class="col-md-2 data-new">
                <input type="text" class="form-control" id="a-data" placeholder="mm/aaaa" ng-model="filtri.a_data" />
            </div>
        </div>
        <h4><i class="fa fa-list-ul"></i> Elenco</h4>
        <div ng-show="pag_number > 1">
            <ul class="pagination" style="text-align: center;">
                <li><span class="page_number">Pag. {{pag_corrente + 1}} / {{pag_number}}</span></li>
                <li>
                    <a ng-click="refresh_page(0)"
                       ng-class="{disabled: pag_corrente == 0}"
                       href="#nav">&lt;&lt;</a>
                </li>
                <li>
                    <a ng-click="refresh_page(pag_corrente-1)"
                       ng-class="{disabled: pag_corrente == 0}"
                       href="#nav">&lt;</a>
                </li>
                <li ng-repeat="p_nr in [0,1,2,3]">
                    <a ng-click="refresh_page(nr_pagina_paginatore(p_nr))"
                       ng-bind="nr_pagina_paginatore(p_nr) + 1"
                       ng-hide="nr_pagina_paginatore(p_nr)==-1"
                       ng-class="{disabled: pag_corrente == nr_pagina_paginatore(p_nr)}"
                       href="#nav">
                    </a>
                </li>
                <li>
                    <a ng-click="refresh_page(pag_corrente+1)"
                       ng-class="{disabled: pag_corrente >= pag_number - 1}"
                       href="#nav">&gt;</a>
                </li>
                <li>
                    <a ng-click="refresh_page(pag_number-1)"
                       ng-class="{disabled: pag_corrente >= pag_number - 1}"
                       href="#nav">&gt;&gt;</a>
                </li>
            </ul>
        </div>
        <table class="table table-hover table-striped" id="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Rag. Soc</th>
                    <th>Indirizzo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in records">
                    <td>{{item.id_cliente}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.indirizzo}} {{item.cap}} {{item.comune}} {{item.provincia}}</td>
                    <td>
                        <button class="btn  btn-xs"
                                ng-click="leggi(item);">
                            <span class="fa fa-list" />
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-show="pag_number > 1">
            <ul class="pagination" style="text-align: center;">
                <li><span class="page_number">Pag. {{pag_corrente + 1}} / {{pag_number}}</span></li>
                <li>
                    <a ng-click="refresh_page(0)"
                       ng-class="{disabled: pag_corrente == 0}"
                       href="#nav">&lt;&lt;</a>
                </li>
                <li>
                    <a ng-click="refresh_page(pag_corrente-1)"
                       ng-class="{disabled: pag_corrente == 0}"
                       href="#nav">&lt;</a>
                </li>
                <li ng-repeat="p_nr in [0,1,2,3]">
                    <a ng-click="refresh_page(nr_pagina_paginatore(p_nr))"
                       ng-bind="nr_pagina_paginatore(p_nr) + 1"
                       ng-hide="nr_pagina_paginatore(p_nr)==-1"
                       ng-class="{disabled: pag_corrente == nr_pagina_paginatore(p_nr)}"
                       href="#nav">
                    </a>
                </li>
                <li>
                    <a ng-click="refresh_page(pag_corrente+1)"
                       ng-class="{disabled: pag_corrente >= pag_number - 1}"
                       href="#nav">&gt;</a>
                </li>
                <li>
                    <a ng-click="refresh_page(pag_number-1)"
                       ng-class="{disabled: pag_corrente >= pag_number - 1}"
                       href="#nav">&gt;&gt;</a>
                </li>
            </ul>
        </div> <!--Fine paginatore -->
    </div> <!--dettaglio-->
</div> <!-- Fine scheda di ricerca -->
