<div ng-show="page_status == 'leggi'">
    <div class="page-toolbar">
        <button class="btn btn-default" ng-click="annulla()"><i class="fa fa-arrow-left"></i> Indietro</button>
    </div>
    <div class="margin-b-10"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h4>Cliente selezionato</h4>
                    <p>
                        Cod <strong>{{selezionato.cliente.id_cliente}}</strong><br />
                        Cliente <strong>{{selezionato.cliente.name}}</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="margin-b-10"></div>
            <div class="panel panel-primary" style="margin-bottom: 0px;padding: 10px 5px 5px 10px;">
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Filtra" ng-model="searchField">
                                    <div class="input-group-addon"><i class="fa fa-filter"></i></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>
                                <a href="#" ng-click="sortType = 'esercizio'; sortReverse = !sortReverse">
                                    Es
                                    <span ng-show="sortType == 'esercizio' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'esercizio' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'id_documento'; sortReverse = !sortReverse">
                                    Id Doc
                                    <span ng-show="sortType == 'id_documento' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'id_documento' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'tipo_documento'; sortReverse = !sortReverse">
                                    Tipo
                                    <span ng-show="sortType == 'tipo_documento' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'tipo_documento' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'data_documento'; sortReverse = !sortReverse">
                                    Data
                                    <span ng-show="sortType == 'data_documento' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'data_documento' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'protocollo_iva'; sortReverse = !sortReverse">
                                    N. Fatt
                                    <span ng-show="sortType == 'protocollo_iva' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'protocollo_iva' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>Imp</th>
                            <th>Iva</th>
                            <th>Tot</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in articolo_corrente.lista | orderBy:sortType:sortReverse | filter:searchField">
                            <td>{{item.esercizio}}</td>
                            <td>{{item.id_documento}}</td>                            
                            <td>{{item.tipo_documento}}</td>
                            <td>{{item.data_documento}}</td>
                            <td>{{item.protocollo_iva}}</td>
                            <td>{{item.imponibile | number:2}}</td>
                            <td>{{item.imposta | number:2}}</td>
                            <td>{{item.totale_doc | number:2}}</td>
                            <td>
                                <button class="btn btn-xs" ng-click="mostra_dettaglio(item)"><i ng-class="{'fa fa-plus': item.show, 'fa fa-minus': !item.show }"></i></button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
