<div ng-show="tc.displayMode == 'list'">
    <!--Elenco inizio -->
    <div class="page-toolbar">
        <div class="pull-left">
            <button class="btn btn-grey" ng-click="tc.refresh()"><i class="fa fa-refresh">&nbsp;</i>Refresh</button>
            <button class="btn btn-primary" ng-click="tc.create()"><i class="fa fa-plus-square">&nbsp;</i>Nuovo</button>
        </div>
        <div class="pull-right">
            <button class="btn btn-info" ng-click="printMassivo(tc.records, 'ddt')"><i class="fa fa-file">&nbsp;</i>Crea DDT Massivo</button>
            <button class="btn btn-danger" ng-click="printMassivo(tc.records, 'fat')"><i class="fa fa-file-o">&nbsp;</i>Crea FAT Massivo</button>
        </div>
    </div> <!-- page-toolbar -->
    <div class="clearfix"></div>
    <div class="margin-b-10"></div>
    @Html.Partial("_FiltroRicerca")

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <tab-controller-pag table-controller="tc"></tab-controller-pag>
            <div class="margin-b-10"></div>
            <div class="panel panel-primary" style="margin-bottom: 0px;padding: 10px 5px 5px 10px;">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Nr Ord.</th>
                            <th>Tipo</th>
                            <th>Cliente</th>
                            <th>Agente</th>
                            <th>Data Ordine</th>
                            <th>Imponibile</th>
                            <th>Ord.Chiuso</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in tc.records">
                            <td>{{item.esercizio}} - {{item.id_ordine | trimZeros}}</td>
                            <td>{{item.id_gc_cliente_id}}</td>
                            <td>{{item.id_cliente | trimZeros}} {{item.ragione_sociale}}</td>
                            <td>{{item.id_agente | trimZeros}} {{item.ragione_sociale_agente}}</td>
                            <td>{{item.data_ordine | date: short}}</td>
                            <td>{{item.totale_doc | number:2}}</td>
                            <td class="text-center"><i class="fa {{item.ordine_chiuso?'fa-lock text-danger':'fa-unlock text-success'}}"></i></td>                            
                            <td>
                                <button class="btn btn-grey btn-xs" ng-click="tc.deleteItem(item)"><i class="glyphicon glyphicon-trash"></i></button>
                                <button class="btn btn-grey btn-xs" ng-click="tc.edit(item)"><i class="fa fa-pencil-square-o"></i></button>

                                <button ng-hide="item.ordine_chiuso"
                                        class="btn btn-xs"
                                        ng-class="{'btn-warning': item.id_gc_cliente_id == 'CLD', 'btn-info': item.id_gc_cliente_id == 'CL' }"
                                        ng-click="ddtfattura(item, 'ddt')">
                                    <i class="fa fa-file">&nbsp;</i>DDT
                                </button>
                                <button ng-hide="item.ordine_chiuso"
                                        class="btn btn-xs"
                                        ng-class="{'btn-warning': item.id_gc_cliente_id == 'CL', 'btn-danger': item.id_gc_cliente_id == 'CLD' }"
                                        ng-click="ddtfattura(item, 'fat')">
                                    <i class="fa fa-file-o">&nbsp;</i>FAT
                                </button>

                                <input type="checkbox" ng-model="item.massivo" ng-hide="item.ordine_chiuso">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
