<div class="row" ng-show="tc.current.id_cliente.length > 0">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <label>
                    <input type="radio" ng-model="ordinamento" value="nr_riga">
                    Riga
                </label>
                <label>
                    <input type="radio" ng-model="ordinamento" value="id_fornitore">
                    Fornitore
                </label>
                <div class="margin-b-20"></div>

                <table class="table table-hover table-condensed" id="tableOrdine">
                    <thead>
                        <tr>
                            <th>Art</th>
                            <th>Descrizione</th>
                            <th>Q.tà Ordinata</th>
                            <th>Q.tà In Consegna</th>
                            <th>Prezzo <input type="checkbox" ng-model="checked" /></th>
                            <th>Sc 1</th>
                            <th>Sc 2</th>
                            <th>Sc 3</th>
                            <th>Sc Ag</th>
                            <th>Cod.IVA</th>
                            <th class="text-right">Prezzo</th>
                            <th class="text-right">Imponibile</th>
                            <th class="text-right">Prezzo Acq</th>
                            <th ng-hide="tc.current.ordine_chiuso"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="item in tc.current.righe | orderBy:ordinamento | itemsPerPage: 20 track by $index">
                            <td>{{item.id_codice_art}}</td>
                            <td>{{item.descrizione}}</td>
                            <td>
                                <input type="number" class="form-control form-control-custom text-right request-focus"
                                       ng-model="item.qta_ordinata" style="width:80px;"
                                       ng-focus="linefocused($index);"
                                       ng-disabled="tc.current.ordine_chiuso" />
                            </td>
                            <td>
                                <input type="number" class="form-control form-control-custom text-right"
                                       ng-model="item.qta_in_consegna" style="width:80px;"
                                       ng-focus="linefocused($index);"
                                       ng-disabled="tc.current.ordine_chiuso" />
                            </td>
                            <td>

                                <input type="number" class="form-control form-control-custom text-right"
                                       ng-model="item.prezzo_vendita" style="width:80px;"
                                       ng-focus="linefocused($index);"
                                       ng-disabled="tc.current.ordine_chiuso || checked" />
                            </td>
                            <td>
                                <input type="number" class="form-control form-control-custom text-right"
                                       ng-model="item.sconto_1" style="width:80px;"
                                       ng-focus="linefocused($index);"
                                       ng-disabled="tc.current.ordine_chiuso" />
                            </td>
                            <td>
                                <input type="number" class="form-control form-control-custom text-right"
                                       ng-model="item.sconto_2" style="width:80px;"
                                       ng-focus="linefocused($index);"
                                       ng-disabled="tc.current.ordine_chiuso" />
                            </td>
                            <td>
                                <input type="number" class="form-control form-control-custom text-right"
                                       ng-model="item.sconto_3" style="width:80px;"
                                       ng-focus="linefocused($index);"
                                       ng-disabled="tc.current.ordine_chiuso" />
                            </td>
                            <td>
                                <input type="number" class="form-control form-control-custom text-right"
                                       ng-model="item.sconto_agente" style="width:80px; background-color: #fff79d !important;"
                                       ng-focus="linefocused($index);"
                                       ng-disabled="tc.current.ordine_chiuso" />
                            </td>
                            <td class="text-right">
                                {{item.id_iva}}
                            </td>
                            <td class="text-right"><span class="badge badge-success">{{item | prezzo | number:2}}</span></td>
                            <td class="text-right">
                                <span class="badge badge-warning">{{item | imponibile | number:2}}</span>
                            </td>
                            @*<td class="text-right"><span class="badge badge-danger">{{item | prezzoacq | number:2}}</span></td>*@
                            <td class="text-right"><span class="badge badge-danger">{{item.prezzo_acquisto| number:2}}</span></td>
                            <td ng-hide="tc.current.ordine_chiuso">
                                <button class="btn btn-grey btn-xs" ng-click="eminina_riga(item)"><i class="glyphicon glyphicon-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <dir-pagination-controls template-url="@Url.Content("~/Scripts/angular/dirPagination.tpl.html")"></dir-pagination-controls>
    </div>
</div>
