<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label><strong>Note cliente</strong></label>
                                <textarea rows="5" class="form-control" readonly="readonly">{{tc.current.note}}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label><strong>Totale peso</strong></label>
                                <input type="text" class="form-control" ng-model="tc.current | totpeso" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label><strong>Fatturare a</strong></label>
                                <div class="input-group">
                                    <input type="text" class="form-control disabled" ng-model="tc.current.id_cliente" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="cerca_cliente()"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <label><strong>Cliente</strong></label>
                                <input type="text" class="form-control disabled" ng-model="tc.current.name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label><strong>Indirizzo</strong></label>
                                <input type="text" class="form-control" ng-model="tc.current.indirizzo" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label><strong>Vettore</strong></label>
                                <select ng-model="tc.current.id_vettore" class="form-control">
                                    <option ng-repeat="item in selVettori" value="{{item.id_vettore}}">{{item.ragione_sociale}}</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label><strong>Condizioni pagamento</strong></label>
                                <select ng-model="tc.current.id_cond_pag" class="form-control">
                                    <option ng-repeat="item in selCondPag" value="{{item.id_cond_pag}}">{{item.descrizione}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
