<div class="modal fade" id="modal_ricerca_clienti" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label><strong>Seleziona cliente</strong></label>
                        <input type="text" id="cercaClienteModal" class="form-control" placeholder="seleziona cliente .." ng-change="riseleziona_cliente()"
                               ng-model="query_nuovo_cliente" autofocus />
                        <table class="table table-hover table-striped" ng-show="tc.clienteSeleziona" id="tableClienti">
                            <thead>
                                <tr>
                                    <th>Codice</th>
                                    <th>Ragione Sociale</th>
                                    <th>Comune</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in tc.clienteSeleziona">
                                    <td>{{item.id | trimZeros}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.comune}}</td>
                                    <td>
                                        <button class="btn btn-grey btn-xs" ng-click="select_cliente(item)" data-dismiss="modal"><i class="glyphicon glyphicon-check"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
