
<div ng-show="tc.displayMode == 'edit'">
    <div class="page-toolbar">
        <button class="btn btn-success" ng-click="tc.saveEdit(tc.current)"><i class="fa fa-floppy-o">&nbsp;</i>Salva</button>
        <button class="btn btn-grey" ng-click="tc.cancelEdit()"><i class="fa fa-times">&nbsp;</i>Annulla</button>
        <button class="btn btn-grey" ng-click="print(tc.current)"><i class="fa fa-print">&nbsp;</i>Stampa</button>
    </div>
    <div class="margin-b-10"></div>
    @Html.Partial("_HeaderNuovoModifica")
    @Html.Partial("_SelezionaArticolo")
    @Html.Partial("_ElencoRigheInOrdine")
    @*@Html.Partial("_FooterNuovoModifica")*@
</div>