<div class="row" ng-show="tc.current.id_cliente.length > 0" ng-hide="tc.current.ordine_chiuso">
    <div class="col-sm-12">
        <button class="btn btn-primary" ng-click="showAdd()" ng-hide="!tc.current.id_cliente"><i class="fa fa-plus"></i></button>
        <div class="margin-b-10"></div>
        <div class="well well-sm" ng-show="tc.shAdd" >
            <label><strong>Aggiunta Articoli</strong></label>
            <input type="text" class="form-control" 
                   placeholder="seleziona l'articolo .."
                   ng-on-enter="riseleziona_articoli()"
                   ng-model="tc.id_codice_art_new" 
                   id="selectArticoloAdd" />
            <table class="table table-condensed" ng-show="tc.articoliaggiunta" id="tableArticoli">
                <thead>
                    <tr>
                        <th>Art</th>
                        <th>Descrizione</th>
                        <th>Giacenza</th>
                        <th>Qta Ord</th>
                        <th>Prezzo Acq</th>
                        <th>Prezzo</th>
                        <th>Sc 1</th>
                        <th>Sc 2</th>
                        <th>Sc 3</th>

                        <th>Cod.IVA</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in tc.articoliaggiunta">
                        <td>{{item.id_codice_art}}</td>
                        <td>{{item.descrizione}}</td>
                        <td>{{item.giacenza}}</td>
                        <td>
                            <input type="number"
                                   ng-model="item.qta_ordinata"
                                   style="width:50px;"
                                   class="form-control form-control-custom text-right request-focus"
                                   ng-on-enter="select_articolo($index,item)" />
                        </td>
                        <td><span class="badge badge-danger">{{item.prezzo_acquisto | number: 2}}</span></td>
                        <td><span class="badge badge-success">{{ item | prezzo | number:2}}</span></td>
                        <td>{{item.sconto_1 | number}}</td>
                        <td>{{item.sconto_2 | number}}</td>
                        <td>{{item.sconto_3 | number}}</td>
                        <td>{{item.id_iva}}</td>
                        <td><button class="btn btn-grey btn-xs" ng-click="select_articolo($index,item)"><i class="glyphicon glyphicon-check"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
<div class="margin-b-10"></div>