
@{
    ViewBag.Title = "Ordini di Vendita";
    string currentUrl = HttpContext.Current.Request.Url.AbsoluteUri;
}
@section header {
    <script>
        show_message = function (errore, messaggio) {
            alert(messaggio);
        }

        app.controller('ctrl', ['$scope', '$http', '$resource', 'tabController', function ($scope, $http, $resource, tabController) {

            @*@(ViewBag.scope_var)*@
            tabController.config({
                api_root: '@currentUrl',
                list_table: '#table',
                message_function: show_message
            });
            tabController.refresh();
            $scope.tc = tabController;
        }]);


    </script>
}
@section scripts{
    <script>
        shortcut.add("Home", function () {
            $('#query').focus();
        });
        shortcut.add("Up", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                scope.previous_record();
            });
        });
        shortcut.add("Down", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                scope.fc.next_record();
            });
        });
        shortcut.add("Ctrl+S", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                scope.fc.save_current_record();
            });
        });
        shortcut.add("pd", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                if (scope.pag_corrente < scope.pag_number - 1) {
                    scope.fc.refresh_page(scope.pag_corrente + 1);
                }
            });
        });
        shortcut.add("pu", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                if (scope.pag_corrente > 0) {
                    scope.fc.refresh_page(scope.pag_corrente - 1);
                }
            });
        });
    </script>
}


<div class="header">
    <div class="col-md-12">
        <h3 class="header-title">@ViewBag.Title</h3>
        <p class="header-info">gestione ordini di vendita </p>
        
    </div>
</div>
<div class="main-content" ng-controller="ctrl">
    
    <div ng-show="tc.displayMode == 'list'">
        <!--Elenco inizio -->
        <div class="page-toolbar">
            <button class="btn btn-grey" ng-click="tc.refresh()"><i class="fa fa-refresh">&nbsp;</i>Refresh</button>
            <button class="btn btn-grey" ng-click="tc.editOrCreate()"><i class="fa fa-plus-square">&nbsp;</i>Nuovo</button>
        </div> <!-- page-toolbar -->
        <div class="margin-b-20"></div>

        <div class="panel panel-default">
            <div class="panel-heading">Filtri</div>
            <div class="panel-body">

                <div class="input-group">
                    <input id="query" capitalize
                           type="text" class="form-control"
                           ng-model="filtri.id_cliente" placeholder="cerca..."
                           ng-on-enter="tc.refresh()" />
                    <span class="input-group-btn">
                        <button ng-click="tc.refresh()" type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </span>
                </div> <!--Fine -->

            </div>
        </div>

        <div class="row">

            <div class="col-md-12 col-lg-12">

                <h4><i class="fa fa-list-ul"></i> Elenco</h4>
                <tab-controller-pag></tab-controller-pag>
                <table class="table table-hover table-striped" id="table">
                    <thead>
                        <tr>
                            <th>Nr Ord.</th>
                            <th>Cliente</th>
                            <th>Data Ordine</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in tc.records">
                            <td>{{item.id_ordine}}</td>
                            <td>{{item.id_cliente}}</td>
                            <td>{{item.data_ordine}}</td>
                            <td>
                                <button class="btn btn-grey btn-xs" ng-click="tc.deleteItem(item)"><i class="glyphicon glyphicon-trash"></i></button>
                                <button class="btn btn-grey btn-xs" ng-click="tc.editOrCreate(item)"><i class="fa fa-pencil-square-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div> <!--Dettaglio-->
        </div>
    </div> <!--Fine Elenco-->


    <div ng-show="tc.displayMode == 'edit'">
        <!-- Dettaglio inizio -->
        <div class="page-toolbar">
            <button class="btn btn-grey" ng-click="tc.saveEdit(current)"><i class="fa fa-floppy-o">&nbsp;</i>Salva</button>
            <button class="btn btn-grey" ng-click="tc.cancelEdit()"><i class="fa fa-times">&nbsp;</i>Annulla</button>
        </div> <!-- page-toolbar -->
        <div class="margin-b-20"></div>
    </div> <!-- Dettaglio fine -->
</div>
