
@{
    ViewBag.Title = "Ordini di Vendita";
    string currentUrl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + "/" + ViewContext.RouteData.GetRequiredString("controller");
}
@section header {
    <script>
        show_message = function (errore, messaggio) {
            alert(messaggio);
        }

        app.controller('ctrl', ['$scope', 'tabController', function ($scope, tabController) {
            $scope.select_row = function (index) {
                console.log(index);
                $('#table tr').removeClass('text-info');
                $('#table tr:nth-child(' + (index) + ') ').addClass('text-info');
            };

            $scope.selCondPag = @{Html.RenderAction("GetCondPag", "Get");};
            $scope.selVettori = @{Html.RenderAction("GetVettori", "Get");};


            $scope.select_cliente_filtri = function (item) {
                $scope.tc.filtri.id_cliente = item?item.id:'';
                $scope.tc.refresh();
            };

            $scope.select_agente_filtri = function (item) {
                $scope.tc.filtri.id_agente = item ? item.id : '';
                $scope.tc.refresh();
            };
            
            @*@(ViewBag.scope_var)*@

            $scope.tc = tabController.createController({
                api_root: '@currentUrl',
                select_row_call_back: $scope.select_row,
                message_function: show_message
            });
            $scope.tc.refresh();


            $scope.select_cliente = function (item) {
                Object.assign($scope.tc.current, item);
            };

            $scope.select_articolo = function (item) {
                if (typeof (item) == 'undefined')
                    return;
                if (typeof ($scope.tc.current.righe) == 'undefined') {
                    $scope.tc.current.righe = [];
                }
                $scope.tc.current.righe.push(item);
            };
        }]);
    </script>
}
@section scripts{
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.it.min.js")"></script>
    <script>
        $('.data-new input').datepicker({ format: "dd/mm/yyyy", weekStart: 1, language: "it", calendarWeeks: true });

        $('#a-data').change(function () {
            var current = $('#a-data').val();
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                scope.tc.filtri.al_data = current.substring(6, 10) + '-' + current.substring(3, 5) + '-' + current.substring(0, 2);
                scope.tc.refresh(scope.pag_corrente);
            });
        });

        $('#da-data').change(function () {
            var current = $('#da-data').val();
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                scope.tc.filtri.da_data = current.substring(6, 10) + '-' + current.substring(3, 5) + '-' + current.substring(0, 2);
                scope.tc.refresh(scope.pag_corrente);
            });
        });

        shortcut.add("Home", function () {
            $('#query').focus();
        });

        shortcut.add("Up", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                scope.tc.previous_record();
            });
        });

        shortcut.add("Down", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                scope.tc.next_record();
            });
        });

        shortcut.add("Ctrl+S", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                scope.tc.save_current_record();
            });
        });

        shortcut.add("pd", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                if (scope.tc.pag_corrente < scope.tc.pag_number - 1) {
                    scope.tc.refresh_page(scope.tc.pag_corrente + 1);
                }
            });
        });

        shortcut.add("pu", function () {
            var scope = angular.element($("[ng-controller='ctrl']")).scope();
            scope.$apply(function () {
                if (scope.tc.pag_corrente > 0) {
                    scope.tc.refresh_page(scope.tc.pag_corrente - 1);
                }
            });
        });
    </script>
}
<div class="main-content" ng-controller="ctrl">
    @Html.Partial("_ElencoOrdini")
    @Html.Partial("_NuovoModificaOrdine")
</div>

