<div ng-show="tc.displayMode == 'list'">
    <!--Elenco inizio -->
    <div class="page-toolbar">
        <div class="pull-left">
            <button class="btn btn-grey" ng-click="tc.refresh()"><i class="fa fa-refresh">&nbsp;</i>Refresh</button>        
        </div>        
    </div>
    <div class="clearfix"></div>
    <div class="margin-b-10"></div>
    @Html.Partial("_FiltroRicerca")
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <tab-controller-pag table-controller="tc"></tab-controller-pag>
            <div class="margin-b-10"></div>
            <div class="panel panel-primary" style="margin-bottom: 0px;padding: 10px 5px 5px 10px;">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Desc Tipo</th>
                            <th>Anno</th>
                            <th>Data</th>
                            <th>Nr. Acc</th>                           
                            <th>Partner</th>
                            <th>Ragione Sociale</th>
                            <th>Imponibile</th>
                            <th>Totale doc</th>
                            <th>Val</th>
                            <th>Nr. doc.For.</th>
                            <th>Del</th>
                            <th>Doc.mag</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in tc.records track by $index">
                            <td>{{item.id_tipo_accettazione}}</td>
                            <td>{{item.descr_tipo_acc}}</td>
                            <td>{{item.esercizio}}</td>
                            <td>{{item.data_accettazione}}</td>
                            <td>{{item.id_accettazione}}</td>
                            <td>{{item.id_fornitore}}</td>
                            <td>{{item.rag_soc_for}}</td>
                            <td>{{item.imponibile | number:2}}</td>
                            <td>{{item.totale_doc | number:2}}</td>
                            <td>{{item.id_divisa}}</td>
                            <td>{{item.rif_fornitore}}</td>
                            <td>{{item.data_rif_for}}</td>
                            <td>{{item.nr_documento}}</td>
                            <td>
                                <button class="btn btn-grey btn-xs" ng-click="tc.edit(item)"><i class="fa fa-pencil-square-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
