<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row margin-b-10">
                    <div class="col-sm-2">
                        <label><strong>Id</strong></label>
                        <input type="text" ng-model="tc.current.accettazione.id_accettazione" readonly class="form-control" />
                    </div>
                    <div class="col-sm-2">
                        <label><strong>Tipo Accettazione</strong></label>
                        <input type="text" ng-model="tc.current.accettazione.id_tipo_accettazione" readonly class="form-control" />
                    </div>
                    <div class="col-sm-2">
                        <label><strong>Data Accettazione</strong></label>
                        <input type="text" ng-model="tc.current.accettazione.data_accettazione" readonly class="form-control" />
                    </div>
                    <div class="col-sm-2">
                        <label><strong>Esercizio</strong></label>
                        <input type="text" ng-model="tc.current.accettazione.esercizio" readonly class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <label><strong>Descrizione</strong></label>
                        <input type="text" ng-model="tc.current.accettazione.descr_tipo_acc" readonly class="form-control" />
                    </div>
                </div>
                <div class="row margin-b-10">
                    <div class="col-sm-2">
                        <label><strong>Id Fornitore</strong></label>
                        <input type="text" ng-model="tc.current.accettazione.id_fornitore" readonly class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <label><strong>Fornitore</strong></label>
                        <input type="text" ng-model="tc.current.accettazione.rag_soc_for" readonly class="form-control" />
                    </div>
                    <div class="col-sm-2">
                        <label><strong>Rif. Fornitore</strong></label>
                        <input type="text" ng-model="tc.current.accettazione.rif_fornitore" readonly class="form-control" />
                    </div>
                    <div class="col-sm-2">
                        <label><strong>Data Rif. Fornitore</strong></label>
                        <input type="text" ng-model="tc.current.accettazione.data_rif_for" readonly class="form-control" />
                    </div>
                    <div class="col-sm-2">
                        <label><strong>Nr. Documento</strong></label>
                        <input type="text" ng-model="tc.current.accettazione.nr_documento" readonly class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label><strong>Divisa</strong></label>
                        <input type="text" ng-model="tc.current.accettazione.id_divisa" readonly class="form-control" />
                    </div>
                    <div class="col-sm-2">
                        <label><strong>Imponibile</strong></label>
                        <input style="font-weight:700; text-align:right" type="text" ng-model="tc.current.accettazione.imponibile" format="number" readonly class="form-control" />
                    </div>
                    <div class="col-sm-2">
                        <label><strong>Totale Documento</strong></label>
                        <input style="font-weight:700; text-align:right" type="text" ng-model="tc.current.accettazione.totale_doc" format="number" readonly class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
